html{
    padding-top: 25px;
    background-image: url(images/bg_page.png);
}

body{
    width: 80%; /*设置内容区域的宽度为浏览器宽度的80%*/
    padding: 20px;
    margin: 0 auto; /*居中*/
    border-radius: 10px;    /*设置元素的外边框圆角*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);   /*加一个半透明的黑色阴影*/
    background-color: #e1edeb;  /*背景颜色*/
}

h1{
    font-family: "Palatino Linotype", Baskerville,serif;
    font-weight: normal;
    color:#6A94CC;
    font-size:3em; /*在 font-size 中使用是相对于父元素的字体大小，在其他属性中使用是相对于自身的字体大小*/
    margin: 0;
}

h2{
    color: #B1967C;
    font-family: 'Varela Round','Arial Black',serif;
    font-weight: normal;
    font-size: 2.2em;
    border-bottom: 2px white solid; /*在底部画一条宽度为2px的白色实线*/
    background: url(images/head-icon.png) no-repeat 10px 10px;  /*设置背景*/
    padding: 0 0 2px 60px;
    margin: 0;
}

p,address{
    font-size: 1.25em;
    color: #616161;
    line-height: 150%;  /*行高*/
    margin-top: 10px;
    margin-left: 60px;
}

.intro{
    color:#666666;
    font-family: 'Varela Round',Helvetica,sans-serif;
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 25px;
}